:root {
  --orange: rgb(220, 100, 0);
  --sepia0: #EED2C6;
  --sepia1: #f7cf97;
  --sepia3: #A48373;
  --sepia5: #6F4C34;
  --sepia6: #3c2920;


  ::selection {
    background: var(--sepia5);
    color: var(--sepia1);
  }
}

[data-theme="dark"] {
  --background: var(--sepia3);
  --border: var(--sepia1);
  --text: var(--sepia0);

  body {
    background: var(--sepia5);
    color: var(--text);
  }

  button {
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--text);
  }

  button:hover {
    color: var(--orange)
  }

  a {
    color: var(--sepia1);
  }

  a:visited {
    color: var(--sepia3);
  }

  a:visited:hover {
    text-decoration-color: var(--orange);
  }

  a:not(visited):hover {
    text-decoration-color: var(--orange);
  }

  hr {
    border-color: var(--sepia3);
  }

}

[data-theme="light"] {
  --background: var(--sepia0);
  --border: var(--sepia5);
  --text: var(--sepia6);

  body {
    background: var(--sepia0);
    color: var(--text);
  }

  button {
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--text);
  }

  button:hover {
    color: var(--orange)
  }

  a {
    color: var(--sepia5);
  }

  a:visited {
    color: var(--sepia3);
  }

  a:visited:hover {
    text-decoration-color: var(--orange);
  }

  a:not(visited):hover {
    text-decoration-color: var(--orange);
  }

  hr {
    border-color: var(--sepia3);
  }

}

button {
  width: max-content;
  padding: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

body {
  text-align: center;
  margin: 0;
  font-family: monospace;
  font-size: 26px;
}

a {
  cursor: pointer;
  padding: 0 1em 0 1em;
}

.container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}


.col1 {
  grid-column: 1;
  justify-self: center;
}

.col2 {
  grid-column: 2;
  justify-self: center;
}

.name-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}